@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #f0f0f0;
    --foreground: #333;
    --card: white;
    --card-foreground: #333;
    --popover: white;
    --popover-foreground: #333;
    --primary: #0070f3;
    --primary-foreground: white;
    --secondary: #f5f5f5;
    --secondary-foreground: #333;
    --muted: #fafafa;
    --muted-foreground: #666;
    --accent: #e0e0e0;
    --accent-foreground: #333;
    --destructive: #e74c3c;
    --destructive-foreground: white;
    --border: #ccc;
    --input: #ccc;
    --ring: #0070f3;
    --chart-1: 207 90% 65%;
    --chart-2: 160 70% 50%;
    --chart-3: 30 60% 55%;
    --chart-4: 340 70% 50%;
    --chart-5: 20 70% 50%;
    --radius: 0.5rem;
    --sidebar-background: #f8f8f8;
    --sidebar-foreground: #333;
    --sidebar-primary: #0070f3;
    --sidebar-primary-foreground: white;
    --sidebar-accent: #e0e0e0;
    --sidebar-accent-foreground: #333;
    --sidebar-border: #ccc;
    --sidebar-ring: #0070f3;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: #333;
    --secondary-foreground: #f5f5f5;
    --muted: #262626;
    --muted-foreground: #ccc;
    --accent: #4d4d4d;
    --accent-foreground: #e0e0e0;
    --destructive: #e74c3c;
    --destructive-foreground: white;
    --border: #4d4d4d;
    --input: #4d4d4d;
    --ring: #0070f3;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: #0070f3;
    --sidebar-primary-foreground: white;
    --sidebar-accent: #4d4d4d;
    --sidebar-accent-foreground: #e0e0e0;
    --sidebar-border: #4d4d4d;
    --sidebar-ring: #0070f3;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
